@import 'reset.css';

#header{
    position: sticky;
    top:0;
    padding: 0px 30px;

    background-color: white;
}

.flex-row-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.grey-background {
    margin: 10px;
    padding: 10px
    border-radius: 50%;
}

.grey-background:hover{
    background-color: grey;
    cursor: pointer;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .pointer:hover {
    cursor: pointer;
  }
  <div class="flex-row-center">
  <div class="grey-bakcground">🍔</div>
  <div class="pointer" style="font-weight: bold; margin-left: 30px;">GDSC</div>
</div>
<div class="flex-row-center" style="margin: 5px;">
  <div id="search-bar">
    <input style="width: 93%; border: none;" placeholder="검색" />
    <div class="pointer" style="background-color: white; border: none;">🔍</div>
  </div>
  <div class="grey-bakcground">🎤 </div>
</div>
<div class="flex-row-center">
  <div class="grey-bakcground">📽️ </div>
  <div class="grey-bakcground">🔔</div>
  <div class="grey-bakcground">💩</div>
</div>

#search-bar {
    width: 450px;
    border: 3px solid grey;
    border-radious: 20px
    padding: 5px 10px;
    color: grey;
    display: flex;
    flex-direction: row;
}



  #container{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 50px;
  }

  #video-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 50px;
  }
  
  #video-info-container {
    display: flex;
    flex-direction: column;
  }
  
  #comment-container {}

  <div id="video-info-container">
          <h1>[충격, 공포] GDSC의 충격적인 실체.....</h1>
          <div class="flex-row-space-between">
            <div id="creater-container">
              <img class="profile-thumbnail"
                src="https://user-images.githubusercontent.com/71186266/222961900-8528af30-d286-460d-b36c-91b11c8caa34.png" />
              <div class="flex-column" style="margin: 5px;">
                <p style="font-size: 15px; font-weight: bold; margin: 5px;">고라니맨</p>
                <p style="font-size: 10px; margin: 5px;">구독자 5억명</p>
              </div>
              <div class="dropdown flex-column">
                <span class="grey-button">🔔 구독중</span>
                <div class="dropdown-box" style="width: 100%">
                  <a class="dropdown-content"> 🔔 전체 </a>
                  <a class="dropdown-content"> 🛎️ 맞춤설정 </a>
                  <a class="dropdown-content"> 🔕 없음 </a>
                  <a class="dropdown-content"> 😭 손절하기 </a>
                </div>

              </div>
            </div>

            <div class="flex-row-center">
              <div class="grey-button">👍 10억 | 👎</div>
              <div class="grey-button flex-column">↗️ 공유
                <div class="description">
                  <a>공유하기</a>
                </div>
              </div>

              <div class="grey-button flex-column"> 🔽 오프라인 저장
                <div class="description">
                  <a>오프라인 저장</a>
                </div>
              </div>
              <div class="grey-button flex-column"> ❤️ Thanks
                <div class="description flex-column">
                  <a>Super Thanks로 응원하는 마음을 표현하세요 </a>
                </div>
              </div>
              <div class="grey-button flex-column">✂️ 클립
                <div class="description">
                  <a>클립</a>
                </div>
              </div>
              <div class="grey-button">...</div>
            </div>
          </div>
          <div class="grey-button" style="width: 95%;">
            <div>GDSC는 사실 XXX다?</div>
            <div>정보들..</div>
            <div>정보들..</div>
          </div>
        </div>

        <div class="comment-box">
        <img class="profile-thumbnail"
          src="https://user-images.githubusercontent.com/71186266/222961900-8528af30-d286-460d-b36c-91b11c8caa34.png" />
        <div class="comment-text-area">
          <div style="font-weight: bold;"> 고라니 </div>
          <div>GDSC! GDSC! GDSC! GDSC!</div>
          <div class="like-hate-area">
            <div>👍</div>
            <div>1m</div>
            <div>👎</div>
          </div>
        </div>
      </div>